.locations__container {
      display: flex;
      height: 600px;

      position: relative;
      top: -250px;

}


.contact__text {
      flex-grow: 1;
      flex-basis: 50%;
      padding: 0px 100px 30px 300px;

      h1 {
            font-size: 6rem;
      }

      p {
            font-size: 1.6rem;
      }
}

.locations__container--wrapper {
      flex-grow: 1;
      flex-basis: 50%;
      padding-right: 0px;
}

.tab {
      a {
            font-size: 1.5rem;
            color: var(--pri-freshwater-blue-100-default);
      }

      p {
            font-size: 1.5rem;

      }

}

.tab:nth-child(1) {

      font-size: 3rem;
      padding: 50px 0px 50px 10px;
      background-color: var(--pri-den-gray-005);

      p {
            margin-right: 650px;
      }
}

.tab:not(:nth-child(1)) {


      font-size: 3rem;
      padding: 50px 10px;
      border-bottom: 1px solid var(--pri-den-gray-020);
      width: 400px;
}

.container {
      display: flex;
}

.news__title {
      position: relative;
      top: 0px;
      padding: 120px 500px 50px 200px;
      background-color: var(--pri-den-gray-005);

      h1 {
            font-size: 5.5rem;
            font-family: 'Poppins', Arial, Helvetica, sans-serif;
            animation: from-right .3s ease-in,
                  appear .8s ease-in forwards;
            animation-delay: 1.1s;
            opacity: 0;
      }

      p {
            font-size: 1.5rem;
            font-family: 'Poppins', Arial, Helvetica, sans-serif;
            padding: 0px 80px 0px 0px;
            letter-spacing: 1.2px;
            animation: from-bottom .3s ease-in,
                  appear .4s ease-in forwards;
            animation-delay: 1.3s;
            opacity: 0;
      }

}

.paragraph1 {
      opacity: 0;
}

.articles__wrapper {
      display: flex;
      flex-flow: row wrap;
      // justify-content: flex-end;
      padding-top: 10px;
      padding-right: 250px;
      padding-bottom: 80px;
      background-color: var(--pri-den-gray-005)
}

.articles__track {
      flex-grow: 1;
      flex-basis: 35%;
      border: none;
      max-height: 1800px;
      overflow-y: hidden;
}

.articles__track::after {
      content: "";
      position: absolute;
      z-index: 2;
      bottom: -2280px;
      left: 0;
      pointer-events: none;
      background-image: linear-gradient(to bottom,
                  rgba(255, 255, 255, 0),
                  var(--pri-den-gray-005) 50%);
      width: 30%;
      height: 200px;
}

.h1 {
      opacity: 0;
}

.track {
      background-color: var(--pri-den-gray-010);
      border: none !important;
      outline: none;
      position: relative;
      text-align: right;
      font-family: 'Poppins', Arial, Helvetica, sans-serif;

      h1 {
            font-size: 2.5rem;
            margin-right: 180px;
            padding: 0rem 1rem 1rem 0;
            width: 100%;
      }

      p {
            font-size: 1rem;
            margin-right: 65px;

            padding: 0 1rem 1rem 1rem;
            font-size: 2rem;
            width: 100%;
      }

      button {

            padding: 1rem 12rem;

            text-align: center;
            outline: none;
            border: none;
            background: #000;
            color: white;
            position: absolute;
            top: 145px;
            right: 120px;
            cursor: pointer;
      }

}

.track button span {
      margin-left: -25px;
      font-size: 1.6rem;
}

.articles__track .track {
      border: 1px solid black;
      width: 90%;
      height: 20rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-end;
}

.track button {
      width: 50px;
}

.flex__wrapper {
      flex-basis: 65%;
      flex-grow: 2;
      display: flex;
      flex-flow: row wrap;
      // justify-content: space-between;

}


.card {
      display: flex;
      margin: 20px;
      text-align: center;
      border: black solid 1px;
      width: 300px;
      height: 240px;
      border: none;
      box-shadow: 0 0 5px rgb(119, 119, 119);
      text-align: left;
      transition: .2s ease-in-out;
      position: relative;
      z-index: 1;
      background: white;


      h2 {
            font-size: 2.5rem;
            padding: 1rem 1rem 0rem 1rem;

            font-weight: 500;
            color: var(--pri-den-gray-140);
      }

      h3 {
            font-size: 1.8rem;
            padding: 1rem 1rem;

            font-weight: 500;
            color: var(--pri-den-gray-100);
      }

      p {
            font-size: 1.1rem;
            padding: 1rem;
            letter-spacing: 1px;
            font-weight: 500;
            color: var(--pri-den-gray-60);

      }

      a {
            text-decoration: none;
            color: var(--pri-freshwater-blue-100-default);
            font-size: 1.3rem;
            padding: 1rem;
            display: inline-block;
      }

      hr {
            border: none;
            height: 1px;
            background-image: linear-gradient(to right, rgba(54, 54, 54, 0), rgba(0, 0, 0, 0.75), rgba(54, 54, 54, 0));
            margin-bottom: 5px;
      }
}

.card:hover {
      box-shadow: 0 0 20px rgb(119, 119, 119);
}


.square {
      content: "";
      position: absolute;
      background-color: #00a6ce;
      width: 170px;
      height: 170px;
      background-image: linear-gradient(150deg, var(--pri-freshwater-blue-100-default) 4%, var(--pri-valley-green-100-default) 96%);
      bottom: 0px;
      left: 0px;
      z-index: -1;
}

.square[data-value="UK"] {
      background-image: linear-gradient(145deg, var(--sec-salmon-pink-100-default) 4%, var(--sec-sunset-yellow-100-default) 95%);
}


.card__content {
      display: flex;
      flex-direction: column;
      position: relative;
      z-index: 1;
      background-color: white;

}

.hr {
      padding-left: 1rem;
      padding-right: 1rem;
      margin-top: auto;
}



.article__btn {
      display: inline-block;
      margin: 30px auto;
      /* margin-left: 800px; */
      padding: 13px 139px 11px 20px;
      font-size: 2.5rem;
      font-family: 'Poppins'Arial, Helvetica, sans-serif;
      border: solid 1px var(--pri-den-gray-100);
      background-color: var(--pri-den-gray-140);
      color: white;
      position: relative;
      cursor: pointer;
}

.line {
      height: 2px;
      width: 20px;
      position: absolute;
      top: 28px;
      right: 15px;
      z-index: 2;
      background-color: white;
}

.contact {
      margin-top: 100px;
}