/* M E D I A   Q U E R I E S */

@media screen and (max-width: 1390px) {

      nav {
            height: 125px;
            ;
      }

      nav ul {
            padding: 15px 20px 20px 750px;
            height: 100%;
      }

      nav ul li {
            margin: 0;
            padding: 4rem 0;
      }

      nav ul li a {
            padding: 0;
            margin-right: 3rem;
      }

      .logo {
            position: absolute;
            left: 0;
            top: 0;
            padding-left: 80px;
            padding-top: 20px;
      }

      .hero__wrapper {
            position: relative;
            top: -100px;

      }

      .hero__text {
            position: absolute;
            top: 300px;
            left: 200px;
            z-index: 1
      }

      .hero__text h2 {
            font-size: 7rem;
            padding: 0;
            margin-right: 650px;
      }

      .hero__text p {
            font-size: 6rem;
      }

      .stroke {
            position: absolute;
            right: -5px;
            top: 575px;
            width: initial;
      }

      .news__title {
            position: relative;
            top: 150px;
            width: 100%;
      }

      .articles__wrapper {
            padding-top: 220px;
            padding-right: 0;
      }

      .card {
            width: 260px;
            height: 300px;
            margin: 10px;
      }


      .articles__track {
            max-height: 1800px;
      }

      .articles__track::after {
            width: 35%;
      }




      .logo__footer {
            position: relative;
            top: 30px;
            left: 80px;
      }

      .hills {
            top: 5px;
            right: -600px;

      }

      .tab {
            margin-right: 0;

            p {
                  margin-right: 10px !important;
            }
      }


      .social__icons {
            width: 90%;

      }

      .footer {
            width: 90%;
            padding-right: 0;
      }

      .footer a {
            padding: 1rem
      }

      .footer span {
            margin-left: 255px;
            padding-right: 0;
      }


      .news__title h1 {
            animation-delay: 1.5s;

      }

      .news__title p {
            animation-delay: 1.8s;
      }


      .rectangle {

            top: 550px;
            box-shadow: 0 3px 2px rgb(202, 202, 202);

      }

      .contact__text,
      .locations__container--wrapper {
            margin-top: 180px;
      }

      .contact__text {
            padding: 50px 90px;

            h1 {
                  font-size: 5rem;
            }
      }

      .articles__track::after {
            bottom: -2850px;
      }




}